* {
    margin:0;
    padding: 0;
}

main {
    background:rgb(227, 227, 227)
}
body {
    background: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 11px;
}
.logo {
    top:0;
    height: 55px;
    width: 55px;
    padding: 3px;
    flex: 1;
    margin:.5rem;
    justify-content: center;
}

.text {
    background:rgb(227, 227, 227)
}
.photos {
    width: 99%;
    height: 100%;
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 6px;   
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}



.P {
    grid-column: span 1;
    grid-row: span 1;
}
.L {
    grid-column: span 2;
    grid-row: span 1;
}


footer {
    padding: 11px;
    text-align: center;
}


