* {
    margin:0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 11px;
}
.logo {
    top:0;
    height: 55px;
    width: 55px;
    padding: 3px;
    flex: 1;
    margin: .5rem;
    justify-content: center;
}
body {
    background: #ffffff;
}



@media (max-width: 700px) {
    .intro {
        flex-direction: column;
        text-align: left;
    }}
.intro {
    width: 100%;
    display: flex;
    background: rgb(227, 227, 227);
}
.portrait {
    width: 30%;
    padding: .3rem;
    flex: 1;
    margin: .5rem;
    margin-left: 4rem;
    border-radius: 100%;
}

@media (max-width: 375px) {
    .text {
        flex-direction: column;
    }}
.text{
    padding: 2rem;
    align-self: center; 
    margin-right:4rem;
}



@media (max-width: 375px) {
  .cards {
    flex-direction: column;
  } 
}
.cards {
    display: flex;
    flex-direction:row;
}

.box1 {
    width: 33%;
    height: 161px;
    margin: 9px;
    background: rgb(227, 227, 227);
    background-image: url(./assets/Roof.JPG);
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    padding: 1rem;
    border-radius: 11px;
    align-items: center; 
}

.box2 {
    width: 33%;
    height: 161px;
    margin: 9px;
    background: rgb(227, 227, 227);
    background-image: url(./assets/Me.jpg);
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    padding: 1rem;
    border-radius: 11px;
    align-items: center; 
}

.box3 {
    width: 33%;
    height: 161px;
    margin: 9px;
    background: rgb(227, 227, 227);
    background-image: url(./assets/Drawing.JPG);
    background-size: cover;
    background-position-y: bottom;
    padding: 1rem;
    border-radius: 11px;
    align-items: center; 
}



footer {
    background: rgb(227, 227, 227);
    padding: 11px;
    text-align: center;
}